<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/regles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link rel="icon" href="../static/images/duo.ico" type="image/x-icon">
    <title>Loulou Phone</title>
</head>
<body>
    <img src="../static/images/logo.png" alt="Logo" class="logo">
    <h2>Règles et infos</h2>
    <h3>Le Loulou phone est un jeu multijoueur de 4 à 6 personnes.</h3>
    <p>Le but du jeu est de faire deviner une phrase à un joueur, qui devra ensuite la dessiner, puis un autre joueur devra deviner le dessin et ainsi de suite.</p>
    <p>Le jeu se déroule en plusieurs tours. Au premier tour tous les joueurs donnent un mot ou une phrase qui devra être dessinée par le joueur suivant au tour suivant. Le joueur suivant fera deviner son dessin au joueur d'après et ainsi de suite.</p>
    <p>Tous les joueurs jouent (dessinent ou devinent) simultanément.</p>
    <p>Le jeu se termine lorsque la phrase de base du joueur lui revient après être passée par les autres joueurs. Il est alors possible de voter pour les meilleurs dessins et réponses.</p>
    <p>Le but est de récolter un maximum d'étoiles afin de monter dans le classement !</p>
    <img src="../static/images/rules.png" alt="Rules" class="dessin">
    <a href="/home" class="button">Retour</a>
</body>
</html>